.form {
  margin: 0 auto;
  max-width: 50rem;
  border: var(--border);
  font-size: 1.2rem;
  background: var(--background-color);
  box-shadow: 0.75rem 0.75rem 0 -0.2rem var(--accent-colour);
  border-radius: 20px;
}

.form__container {
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
}

/* 480px */
@media screen and (max-width: 30em) {
  .form__container {
      padding: 0.5rem;
  }
}

.form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.form__label {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form__field {
  outline: none;
  border: 1px solid var(--border-color, #ccc); /* Menambahkan border */
  font-size: inherit;
  font-family: inherit;
  padding: 0.75rem 0.5rem;
  background-color: var(--background-color-forms);
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 0.2rem;
  border-radius: 10px; /* Mengubah border-radius */
}

.field__textarea {
  height: 6em; /* Tinggi untuk textarea remark */
  overflow: auto; /* Menambahkan scroll jika konten melebihi tinggi */
}

.char-count {
  display: block;
  text-align: right;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: var(--text-muted);
  margin-right: 2rem;
}

.field__date {
  width: auto;
  max-width: 200px;
}

.form__field:focus {
  border-color: var(--accent-colour); /* Mengubah warna border saat focus */
  outline: 2px solid var(--accent-colour); /* Menambahkan outline */
  background-color: var(--background-color);
}

.form__error {
  color: var(--text-error);
  font-size: 18px;
}

.button--form {
  margin: 2rem;
  border: none;
  background: var(--accent-colour);
  color: var(--text-light);
  border-radius: 5px;
  cursor: pointer;
}

.button--form:hover {
  background: var(--accent-colour-2);
}

.button {
  outline: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  padding: 0.75rem;
  background: var(--accent-colour);
  color: var(--text-light);
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 10px;
  transition: background 0.1s ease-in;
}

.button:hover {
  background: var(--accent-colour-2);
}