:root {
    --text-dark: #000000;
    --text-light: #fbf2f2;
    --text-muted: #999999;
    --text-error:#ff0000;
    --background-color: #fff;
    --accent-colour: #f56565;
    --accent-colour-2: #3bb54a;
    --tag-colour: #e5e5e5;
    --border: 2px solid #b2b2b2;
    --background-color-hover: #bdd1eb;
    --background-color-forms: #f0f0f0;
}

.main {
    flex-grow: 1;
    padding: 3rem 1.5rem 2rem 1.5rem;
}

.body {
    display: flex;
    flex-direction: column;
    font-family: "Public Sans", sans-serif;
    color: var(--text-dark);
    line-height: 1.45;
    background-color: var(--background-color);
}

.footer {
    padding: 1rem 0;
    color: var(--text-muted);
    text-align: center;
}

/* Set global font size */
html {
    font-size: 18px;
}

/* 480px */
@media screen and (max-width: 30em) {
    html {
        font-size: 14px;
    }
    .main {
        padding-top: 3em;
    }
}

.button {
    display: block;
    outline: none;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    padding: 0.75rem;
    background: var(--background-color);
    color: var(--text-dark);
    border: none;
    transition: background 0.1s ease-in;
}

.button:hover {
    background: var(--background-color-hover);
}

.link {
    text-decoration: none;
    color: var(--accent-colour);
    white-space: nowrap;
}

.link:hover {
    text-decoration: underline;
}

.title {
    font-size: 60px;
    color: var(--accent-colour);
    text-align: center;
}

.sub__title {
    margin-top: 0.5em;
    margin-bottom: 4em;
    font-size: 18px;
    color: var(--text-muted);
    text-align: center;
}