{% macro header(email) %}
    <header class="header">
        <div class="nav-container">
            <a href="{{ url_for('pages.index') }}" class="header__logo">
                <!-- svg here for my logo -->
                <span class="logo__name">Stock Tracker</span>
            </a>

            <nav class="nav"> 
                {% if not email %}
                    <a href="#" class="nav__link">
                        <span class="nav__item">Masuk</span>
                    </a>

                    <a href="#" class="nav__link">
                        <span class="nav__item">Daftar</span>
                    </a>
                {% else %}
                    <!-- "Beranda" akan muncul jika sudah login dan akan terlihat 
                     aktiv jika URL browser sama dengan url request (/index) -->
                    <a href="{{ url_for('pages.index') }}"
                    class="nav__link {{
                    'nav__link--active' if request.path == url_for('pages.index')
                    }}">
                        <span class="nav__item">Beranda</span>
                    </a>

                    <a href="#" class="nav__link">
                        <span class="nav__item">Keluar</span>
                    </a>
                {% endif %}
            </nav>
        </div>
    </header>
{% endmacro %}