{% extends "layout.html" %}

{% block head_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block main_content %}

<div class="search-filter">

    <img class="img-cover" src="{{ url_for('static', filename='media/main-cover.jpg')}}" alt="main cover">

    <form class="form_search" action="{{ url_for('pages.index') }}" method="get">
        <input type="text" placeholder="Nama barang..." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <!-- Filters -->
    <form class="form_filter_byname" id="filterFormByName">
        <!-- Filter by Receiver -->
        <select name="receivery" onchange="submitFilterFormByName()">
            <option value="">Penerima</option>
            <option value="Irwan" {% if request.args.get('receivery') == 'Irwan' %}selected{% endif %}>Irwan</option>
            <option value="Suhendri" {% if request.args.get('receivery') == 'Suhendri' %}selected{% endif %}>Suhendri</option>
        </select>
    </form>

    <form class="form_filter_bydate" id="filterFormByDate">
        <!-- Filter by Date Range -->
        <label for="start_date">Tanggal:</label>
        <input type="date" id="start_date" name="start_date" value="{{ request.args.get('start_date', '') }}" onchange="submitFilterFormByDate()">
        <label for="end_date">-</label>
        <input type="date" id="end_date" name="end_date" value="{{ request.args.get('end_date', '') }}" onchange="submitFilterFormByDate()">
    </form>

    <div class="result-filter">
        <div class="result-total"><p>Total:{{total_stock}}</p></div>
        
        <div class="show-result">
            {% if search_query %}
                <p>Mencari: <strong>{{ search_query }}</strong>  
            {% endif %}

            {% if receivery_filter %}
                <p>Penertima: <strong>{{ receivery_filter }}</strong></p>
            {% endif %}

            {% if start_date and end_date %}
                <p>Tanggal: <strong>{{ start_date }}</strong> - <strong>{{ end_date }}</strong></p>
            {% endif %}
        </div>

        {% if search_query or receivery_filter or (start_date and end_date) %}
            <a href="{{ url_for('pages.index') }}" class="button reset-filter">Atur Ulang</a>
        {% endif %}

    </div>

</div>

<div class="list_container">
    {% if total_stock > 0 %}
        {% for stock in stocks %}
        <a href="{{ url_for('pages.stock_detail', id = stock._id) }}" class="list_item-link">
            <div class="list_item {% if stock.is_in_coming %}incoming{% else %}outgoing{% endif %}">
                <div class="list_image">
                    {% if stock.images %}
                        <img src="{{ url_for('static', filename='media/images/' ~ stock.images[0]) }}" alt="Stock Image">
                    {% else %}
                        <img src="{{ url_for('static', filename='media/images/no_image_default.jpg') }}" alt="Default Image">
                    {% endif %}
                </div>
                <div class="list_info">
                    <h3>{{ stock.title }}</h3>
                    <p>{{ stock.date.strftime('%Y-%m-%d') }}</p>
                    <p>Pengirim: {{ stock.sender }}</p>
                    <p>Penerima: {{ stock.receivery }}</p>
                </div>
                <div class="list_status">
                    {% if stock.is_in_coming %}
                        <span class="status in">Masuk</span>
                    {% else %}
                        <span class="status out">Keluar</span>
                    {% endif %}
                </div>
            </div>
        </a>
        {% endfor %}

        <div class="pagination">
            {% if page > 1 %}
                <a href="{{ url_for('pages.index', page = page-1) }}">{{ texts.main.previous }}</a>
            {% endif %}

            {% for p in range(1, (total_stock // per_page) + 2) %}
                {% if p == page %}
                    <strong>{{ p }}</strong>
                {% else %}
                    <a href="{{ url_for('pages.index', page=p) }}">{{ p }}</a>
                {% endif %}
            {% endfor %}

            {% if page < (total_stock // per_page) + 1 %}
                <a href="{{ url_for('pages.index', page=page+1) }}">{{ texts.main.next }}</a>
            {% endif %}
        </div>
    {% else %}
        <h1>Belum ada data</h1>
    {% endif %}
</div>


<a href="{{ url_for('pages.add_stock', type='incoming')}}" class="button button--floating">
    <span>+</span>
</a>

<div id="popup" class="popup hidden">
    <div class="popup-content">
        <button id="closePopup" class="close-popup">&times;</button>
        <h2>Pencatatan</h2>
        <a href="{{ url_for('pages.add_stock', type='incoming')}}" class="button button--action">Barang Masuk</a>
        <a href="{{ url_for('pages.add_stock', type='outgoing')}}" class="button button--action">Barang Keluar</a>
    </div>
</div>

{% endblock %}


{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const addButton = document.getElementById('addButton');
        const popup = document.getElementById('popup');
        const closePopup = document.getElementById('closePopup');

        addButton.addEventListener('click', function(event) {
            event.preventDefault();
            popup.classList.remove('hidden');
        });

        closePopup.addEventListener('click', function() {
            popup.classList.add('hidden');
        });

        window.addEventListener('click', function(event) {
            if (event.target === popup) {
                popup.classList.add('hidden');
            }
        });
    });

    function submitFilterFormByName() {
        document.getElementById('filterFormByName').submit();
    }

    function submitFilterFormByDate() {
        document.getElementById('filterFormByDate').submit();
    }
</script>
{% endblock %}