{% extends "layout.html" %}

{% block head_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
{% endblock %}

{% block main_content %}

<h1>
    Belum ada data
</h1>


<a href="#" class="button button--floating" id="addButton">
    <span>+</span>
</a>

<div id="popup" class="popup hidden">
    <div class="popup-content">
        <button id="closePopup" class="close-popup">&times;</button>
        <h2>Pencatatan</h2>
        <a href="{{ url_for('pages.add_stock', type='incoming')}}" class="button button--action">Barang Masuk</a>
        <a href="{{ url_for('pages.add_stock', type='outgoing')}}" class="button button--action">Barang Keluar</a>
    </div>
</div>

{% endblock %}


{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const addButton = document.getElementById('addButton');
        const popup = document.getElementById('popup');
        const closePopup = document.getElementById('closePopup');

        addButton.addEventListener('click', function(event) {
            event.preventDefault();
            popup.classList.remove('hidden');
        });

        closePopup.addEventListener('click', function() {
            popup.classList.add('hidden');
        });

        window.addEventListener('click', function(event) {
            if (event.target === popup) {
                popup.classList.add('hidden');
            }
        });
    });
</script>
{% endblock %}