{% from "macros/nav.html" import header %}
{% from "macros/footer.html" import footer %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <title>{{ title | default ('Stock Tracker') }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/login.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/register.css') }}"/>

    {% block head_content %}

    {% endblock %}

</head>


<body>

    {{ header(session.get("email"), session.get("profile_picture")) }}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <main class="main">
        {% block main_content %} 
        {% endblock %}
    </main>

    {% block scripts %} 
    {% endblock %}

    {{ footer() }}

</body>

</html>