{% from "macros/fields.html" import render_text_field %}
{% extends "layout.html" %}


{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}"/>
{% endblock %}

{% block main_content %}
    <form name = "add_stock" method="post" novalidate class="form">
        <div class="form_container">
            {{ form.hidden_tag() }}
            {{ render_text_field(form.title) }}
            <div class="form__group">
                {{ form.date.label(class="form__label") }}
                {{ form.date(class="form__field form__field--date") }}
            </div>
            {{ render_text_field(form.quantity) }}
            <div class="form__group">
                {{ form.quantity_type.label(class="form__label") }}
                {{ form.quantity_type(class="form__field") }}
            </div>
            {{ render_text_field(form.serial_number) }}
            {{ render_text_field(form.to_devision) }}
            {{ render_text_field(form.send_by) }}
            {{ render_text_field(form.received_by) }}
            {{ render_text_field(form.remark) }}
            <div>
                {{ form.submit(class="button button--form") }}
            </div>
        </div>
    </form>
{% endblock %}